*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .logo{
    width: 20px;
    height: auto;
    padding: 5px;
    padding-left: 2%;
    border-radius: 30px;
    border: 1px solid black;

}

  body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .container {
    width: 100%;
    max-width: 2440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 0px;
    
  }
  
  .header-area {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)),
    url(https://previews.123rf.com/images/zakiroff/zakiroff1511/zakiroff151100010/47363256-medical-services-photo-collage-monochrome-photo-collage.jpg);
    background-position: center center;
    color: #000000;
    filter: brightness(100%);
    background-size: cover;
    margin: 0px auto;
  }
 
  table {  
    font-family: arial, sans-serif;  
    border-collapse: collapse;  
    width: 60%;
    margin: 70px auto;
    line-height: 20px;

  }
  #htmlContent{
    text-align: center;
    line-height: 50px;
    margin: 100px auto;
  } 
  h2{
    color: #000000;
    font-size: 35px;
  } 
  p{
    color: #000000;
    font-size: 16px;
    line-height: 25px;
  } 
  td, th, button {  
    border: 1px solid #dddddd;  
    text-align: left;  
    padding: 10px;  
    margin-bottom: 50px;
    cursor: pointer;
  }  
  button {  
    border: 1px solid rgb(109, 108, 108);    
    color: #ffffff;
    background-color: #2c98c6;
  } 
  tr:nth-child(even) {  
    background-color: #dddddd;  
  }  

  /* navbar regular css start */
  .navbar-area {
    background: rgba(0, 0, 0, 0.8);
    backface-visibility:hidden;
    border-bottom: 1.5px solid #ffffff;
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a.site-logo {
    font-size: 26px;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    padding-left: 20px;
  }
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .site-navbar ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }
  .site-navbar ul li a:hover {
    background: rgba(255,255,255,.1);
  }
  /* navbar regular css end */
  
  
  /* nav-toggler css start */
  .nav-toggler {
    border: 3px solid #fff;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler css start */
  
  