/* only relevant for the codepen page, not the button itself */

@import url("https://fonts.googleapis.com/css2?=Inter:wght@400;600;700&family=Paytone+One&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .logo{
    width: 20px;
    height: auto;
    padding: 5px;
    padding-left: 2%;
    border-radius: 30px;
    border: 1px solid black;

}

  body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .container {
    width: auto;
    height: auto;
    max-width: 40px;
    max-height:100%;
    margin: 0 0;
    padding: 0 0px;
  }
  .header-area {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)),
    url(https://previews.123rf.com/images/zakiroff/zakiroff1511/zakiroff151100010/47363256-medical-services-photo-collage-monochrome-photo-collage.jpg);
    background-position: center center;
    background-size: cover;
    color: #000000;
    filter: brightness(100%);
  }
  /* default css end */
  
  
  /* navbar regular css start */
  .navbar-area {
    background: rgba(0, 0, 0, 0.8);
    backface-visibility:hidden;
    border-bottom: 1.5px solid #ffffff;
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a.site-logo {
    font-size: 26px;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    padding-left: 20px;
  }
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .site-navbar ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 0px;
    margin-left: 00px;
  }

  .site-navbar ul li a:hover {
    background: rgba(255,255,255,.1);
  }

  .nav-toggler {
    border: 3px solid #fff;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler css start */
  
  
body {
  background: #faf9fd;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0 0;
  padding: 0px 0;
  text-align: center;
}

h1 {
  font-family: "Paytone One", Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  margin-bottom: 1em;
  margin-top: 50px;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 55px auto;
  max-width: 700px;
  width: 100%;
  font-weight: 600;
}



.container {
  box-sizing: border-box;
  margin: auto;
  max-width: 2000px;
  padding: 0 0px;
  width: 100%;
}

.addeventatc{
    margin-top: 100px;
    margin-bottom: 300px;
}
